/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #c30ac3;
  --magenta: #ff00ff;
  --royalblue: #4c8be2;
  --teal: #109090;
  --violet: #9400d3;
}

/* Use attribute selectors for the first part of the exercise */

li[class="cat"] {
  color: var(--teal);
}
li[class^="p"] {
  color: var(--green);
}
li[class*="do"] {
  color: var(--royalblue);
}
li[class$="g"] {
  color: var(--violet);
}

/* Use descendant, child, and sibling selectors for the second part */

section li {
  color: var(--green);
}

/* everything on the same level as "first" */

.first ~ li {
  color: var(--violet);
}
.second + li {
  color: var(--royalblue);
}
