/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #c30ac3;
  --magenta: #ff00ff;
  --royalblue: #4c8be2;
  --teal: #109090;
  --violet: #9400d3;
}

/* Use attribute selectors for the first part of the exercise */

li[class="cat"] {
  color: var(--teal);
}
li[class^="p"] {
  color: var(--green);
}
li[class*="do"] {
  color: var(--royalblue);
}
li[class$="g"] {
  color: var(--violet);
}

/* Use descendant, child, and sibling selectors for the second part */

div.list-food li:nth-child(1) {
  color: var(--green);
}
div.list-food li:nth-child(2) {
  color: var(--darkmagenta);
}
div.list-food li:nth-child(3) {
  color: var(--royalblue);
}
div.list-food li:nth-child(4) {
  color: var(--darkmagenta);
}

div.list-cleaning li {
  color: var(--green);
}
